.Button-primary, .Button-secondary {
  width: 175px;
  height: 58px;

  /* media query */
  @media (max-width: 375px) {
    width: 150px;
    height: 48px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 12px;
  border: none;

  /* and the style in the p tag inside this class */
  a {
    text-decoration: none;
    font-weight: 700;
    user-select: none;
    color: var(--button-text-color);
    margin: auto;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0;
  }
    
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--button-background-hover);
    cursor: pointer;
  }
}

.Button-secondary {
  background-color: var(--button-secondary-background-color);
  color: var(--button-secondary-text-color);

  a {
    color: var(--button-secondary-text-color);
  }

  &:hover {
    background-color: var(--button-secondary-background-hover);
    cursor: pointer;

    a {
      color: var(--button-text-color);
    }
  }
}