.TitleAndText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  h1, h2, h3 {
    margin: 0;
    max-width: 14ch;
  }

  p {
    margin: 0;
    font-weight: 400;
  }
}